%p.big
  <b>a</b>lpha, <b>b</b>ravo, <b>c</b>harlie.. An acrophonic alphabet (sometimes called a spelling alphabet, 
  radio alphabet, or telephone alphabet)
  is a set of words which are used to stand for the letters of an alphabet. Each word in the alphabet 
  replaces the name of the letter with which it starts.
  
%p.big
  Acrophony is used to spell out words 
  when speaking to someone not able to see the speaker, meaning there are no visual cues 
  which assist the listener (see the 
  = link_to("McGurk effect", "http://en.wikipedia.org/wiki/McGurk_effect") + ")."
  Giving one’s name over the telephone 
  is a common scenario where a spelling alphabet is often used.

%p.big
  The word has greek roots: (<em>acro</em> uppermost, head + <em>phonos</em> sound)
  Greek letter names are themselves acrophonic: the names of the letters α, β, γ, δ, 
  are spelled with the respective letters: άλφα (alfa), βήτα (bita), γάμμα (gamma), δέλτα (delta).

%p.big
  Browse the alphabets 
  = link_to("here", "/alphabets") + "."
  
%p.big
  Geeky? Check out the 
  = link_to("API", "/api") + "."