@font-face
  font-family: "typewriter"
  src: url('../fonts/typewriter.otf') format('opentype')

@font-face
  font-family: "droid_sans"
  src: url('../fonts/droid_sans.ttf') format('truetype')

body
  :font-family "typewriter", Georgia, serif
  :background-color white
  :color #444
  :padding 15px
  
#main_column
  float: left
  width: 660px
  margin-right: 25px
  
#sidebar
  float: left
  width: 270px
  
ul#header
  float: none
  clear: both
  overflow: hidden
  margin: 40px 0 20px 0
  padding: 0
  li
    display: block
    float: left
    list-style: none
    font-size: 2.3em
    padding: 0 5px 0 5px
    color: black
    &:before
      content: "/ "
    a
      :text-decoration none
      :color black
    &.first
      padding-left: 0
      &:before
        content: none
      a
        :padding-left 0
        
form
  float: none
  clear: both
  overflow: hidden
  input
    &.text
      float: left
      font-size: 1.3em
      padding: 4px
      width: 200px
    &.watermark
      color: #999
    
  button
    cursor: pointer
    padding-top: 4px
    float: left
    border: none
    background-color: transparent

h2
  :color black
  :font-weight normal
  :font-size 1.7em
  :margin 20px 0 2px 0

a
  color: #B83800
  text-decoration: none
 
 
div.spelling 
  margin-bottom: 15px
p
  color: #333
  font-size: 1.1em
  line-height: 1.5em
  padding: 0
  margin: 0
  &.big
    :padding-bottom 10px
    :font-size 1.3em
  &.spelling
    :font-family "typewriter", Georgia, serif
    :font-size 1.3em
  &.source
    :font-size .9em
    :color #999

ul.queries
  margin: 5px 0
  padding: 0
  li
    font-size: 1.1em
    padding-left: 2px
    list-style-type: none
      
#footer
  float: none
  clear: both
  overflow: hidden
  margin: 30px 0 0 0
  p
    font-size: .9em
    color: #999